# Ignore all files in the content directory

content/*

# provision/*
provision/heimdall/*
provision/ombi/*
provision/jackett/*
provision/qbittorrent/*
provision/bazarr/*
provision/prowlarr/*
provision/lidarr/*
provision/sonarr/*
provision/radarr/*
provision/plex/*
provision/overseerr/*
provision/flaresolverr/*

provision/.env.*

!provision/.env.defaults

